.portfolio-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--cg-white);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .information {
    margin-bottom: 20px;
  }
  
  .project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .project img {
    margin-right: 20px;
    border-radius: 8px;
  }
  
  .project-details {
    max-width: 500px;
  }